@import "../../app.scss";

.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 70px;
    text-transform: uppercase;
    color: rebeccapurple;
    letter-spacing: 10px;
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

  }
}