.bio-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;


    .about-me{
        display: flex;
        font-size: 60px;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: rebeccapurple;
        font-family: "DM Mono", monospace;
    }

    .bio{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 1000px;

        p{
            color: gray;
            font-size: 25px;
            line-height: 1.5;
        }
    }

}
