@import "../../app.scss";

.hero {
  height: calc(100vh - 20%);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);
  position: relative;

  .wrapper {
    max-width: 100%;
    height: 95%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

    .textContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      h2 {
        font-size: 250%;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 150%;
      }

      h3{
        font-size: 100%;
        font-weight: 500;
        color: rebeccapurple;

      }

      .buttons {
        button {
          padding: 3%;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 3%;
          cursor: pointer;
          font-size: 70%;
          font-weight: 300;
        }
      }

      .icon-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        margin-top: 0;
      }

      .icons{
        img{
          height: 15px;
          width: 15px;
        }
      }
    }
    
  }

  .imageContainer {
    width: 300px;
    height: 300px;
    left: 67%;
    top: 25%;
    position: absolute;
    
    img{
      width: 80%;
      height: 80%;
      border-radius: 35%;
      object-fit: cover;
      }
    }
  

  .slidingTextContainer {
    pointer-events: none;
    position: absolute;
    font-size: 15vh;
    bottom: -15px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}