.about{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    overflow: hidden;

    .about-wrapper{
        max-width: 1300px;
        width: 100%;
        position: relative;
        z-index: 1;
        height: 100%;

        .divider{
            width: 100%;
            height: 100%;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .resumeButton{
            margin-top: 50px;
        }
    }
}

